body {
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    text-align: center;
}

.container-fluid {
    padding: 5vw;
    text-align: center;
}


.section {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.tooltip {
    border: thin solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#title {
    font-size: 3em;
    font-weight: bold;
    color: #EFE9E9;
}

#subheading {
    font-size: 1.5em;
    font-weight: bold;
    color: #EFE9E9;
}

#video{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #EFE9E9; 
    background-position: center center;
    background-size: contain;
    object-fit: cover; 
    z-index:3;
    filter: brightness(50%);
}

.layer {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 37%;
    left: 15%;
    text-align: left;
}

#linevis {
    height: 60vh;
    width: 75vw;
}

#bubbletext {
    fill: black;
    font-size: 8px;
    font-weight: normal;
    pointer-events: none;
}

.dots {
    stroke-width: 1px;
    stroke: white;
    opacity: .8
  }

.dots:hover {
    stroke: black;
}

#scattervis {
    height: 80vh;
    margin-left: 3vw;
}

#scattervis2 {
    height: 80vh;
}

#time-period-slider {
    width: 100px;
    display: inline-block;
    margin: 0 15px;
  }
  
.range-slider-value {
    background-color: #EFE9E9;
    color: #888;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.noUi-connect {
    background: maroon;
}

#guess-button, #asylum-guess-button {
    background: rgb(239, 226, 207);
    border-radius: 5px;
}

.style1 {
    background-color: #B85C38;
    background-size: cover;
    color: #F1DEC9;
    display:flex;
    justify-content: center;
    align-items: center;
}

#guess-button, #asylum-guess-button {
    background: rgb(239, 226, 207);
    border-color: #2D2424;
    border-radius: 5px;
}

#linegraph-section {
    visibility: hidden;
    justify-content: center;
}

#barchart-section {
    visibility: hidden;
    justify-content: center;
}

.explanation {
    margin-top: 25vh;
}

.guess-section, .asylum-guess-button {
    justify-content: center;
    text-align: center;
    padding: 1em;
}

.gdp-transition {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.map-page {
    margin-bottom: 5vh;
    width: 95vw;
}

.sources {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#temp-text, #asylum-temp-text {
    display:flex;
    justify-content: center;
    align-items: center;
}

.style2 {
    height: 100vh;
    background-color: #F1DEC9;
    color: #2D2424;
    display:flex;
    justify-content: center;
    align-items: center;
}

#visual {
    margin-top: 2.5vw;
    height: 14vw;
}

.sources {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.slide-text {
    max-width: 60vw;
    margin: auto;
    font-size: 1.5em;
    margin-bottom: 30px;
}

#map-filters {
    display:flex;
    justify-content: center;
    align-items: center;
}

.map-filter {
    padding-top: 1em;
}

.map-legend-label {
    font-size: 0.8em;
}

.map-side-text {
    color: maroon;
    margin: 0;
    text-align: left;
    font-size: 0.8em;
}

.map-side-title {
    font-size:0.9em;
    margin:0;
}

#resetButton {
    background-color: maroon;
    color:#F1DEC9;
}

#side-graph1, #side-graph2 {
    height: 20vh
}

.bar-label {
    font-size: 0.7em;
}