body {
    font-family: 'Neuton', serif;
}

.tooltip {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Neuton', serif;
    font-size: 14px;
    opacity: .9;
  }

#linevis {
    height: 75vh;
}

#bubblevis {
    height: 110vh;
}

#bubbletext {
    fill: black;
    font-size: 13px;
    font-weight: normal;
    pointer-events: none;
}

#scattervis {
    height: 100vh;
}

#mapvis {
    padding-bottom: 5vh;
}